@charset "utf-8";
html {
	font: 12px '宋体';
}
a {
	color: #000;
}
.top {
	background-color: #F7F7F7;
	height: 26px;
	border-bottom: 1px solid #D8D8D8;
}

.top_page {
	width: 970px;
	height: 26px;
	margin: 0 auto;
}

.top_page_l {
	line-height: 26px;
}

.top_page_r ul li{
	line-height: 26px;
	float: left;
	padding-left: 10px;
}
.top_page_r ul li s {
	width: 14px;
	height: 7px;
	background: url(../image/sprite.png);
	display: inline-block;
	vertical-align: middle;
}

.logo {
	width: 970px;
	height: 98px;
	margin: 0 auto;
}
.logo_l {
	width: 209px;
	height: 98px;
	background-color: red;
	margin-left: 20px;
	background: url(../image/sprite.png) -15px 0px;
	text-indent: -1000em;
}
.logo_r {
	width: 530px;
	height: 43px;
	border: 1px solid red;
}
.logo_r_search {
	width: 420px;
	height: 30px;
}
.logo_r_btn {
	width: 99px;
	height: 30px;
	/*border: 0px solid red;*/
}







